@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Source+Sans+Pro:wght@600&display=swap");
.about-me {
  color: white;
  margin: 7rem 15rem 12rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
}
.about-me .title {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
}
.about-me .writing {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
}
.about-me .writing .github-profile-link {
  text-decoration: none;
  color: rgb(255, 168, 86);
}
.about-me .writing .github-profile-link:hover {
  text-decoration: underline;
}
.about-me .writing .discord-link {
  text-decoration: none;
  color: white;
  font-style: bold;
}
.about-me .writing .discord-link:hover {
  color: rgb(154, 147, 255);
}
.about-me .writing .back {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1rem;
  margin-left: 5px;
  color: rgb(82, 82, 82);
}
.about-me .writing .back:hover {
  cursor: pointer;
  color: rgb(182, 182, 182);
}

@media screen and (max-width: 1110px) {
  .about-me {
    margin: 7rem 10rem;
  }
}
@media screen and (max-width: 900px) {
  .about-me {
    margin: 7rem 5rem;
  }
}
@media screen and (max-width: 550px) {
  .about-me {
    margin: 7rem 2rem;
  }
}