@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
  overflow-y: hidden;
}

main {
  -webkit-animation: fade 1s forwards ease-in-out;
          animation: fade 1s forwards ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7.7rem 0;
}

main .title {
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .title img {
  width: 9rem;
  border-radius: 50%;
}

main .title h1 {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

main .desc {
  color: #dadada;
  font-family: sans-serif;
  font-size: 1.2rem;
}

main .connections {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .connections .social-media {
  padding: 0.1rem 0.65rem;
  margin: 0 0.3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .connections .social-media img {
  width: 1.7rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .connections .social-media img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
