@media (max-width: 1310px) {
    main {
        margin: 4rem 10rem;
        .playlist {
            .list > * {
                width: 14rem;
                height: 15rem;
            }
        }
    }
}

@media (max-width: 1010px) {
    main {
        .playlist {
            .list > * {
                width: 12rem;
                height: 13rem;

                .name {
                    font-size: 0.8rem;
                }
            }
        }
    }
}


@media (max-width: 845px) {
    main {
        margin: 4rem 4rem;

        .playlist {
            .list > * {
                .name {
                    font-size: 0.5rem;
                }
            }
        }
    }
}