@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans:wght@633;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin: 4rem 20rem;
  margin-bottom: 0;
}

main h1 {
  font-size: 1.9em;
  color: #e9e9e9;
}

main .about .paragraph {
  color: #dadada;
  font-size: 1.2rem;
}

main .about .paragraph p {
  margin: 0.5rem 0;
}

main .about .last-update {
  font-size: 0.9rem;
  color: #60b4ce;
}

main .playlist .title, main .anime-list-name .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

main .playlist .title .pin, main .anime-list-name .title .pin {
  font-size: 2.5rem;
  margin-left: 1rem;
  opacity: .2;
}

main .playlist .title .pin:hover, main .anime-list-name .title .pin:hover {
  opacity: 1;
  text-decoration: underline;
  font-weight: bold;
  color: #eb872b;
}

main .playlist {
  margin-top: 5rem;
}

main .playlist .dot {
  font-size: 3rem;
  text-align: center;
}

main .playlist .title .spotify {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}

main .playlist .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

main .playlist .list > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 16rem;
  border-radius: 50px;
}

main .playlist .list > *:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .playlist .list > * .name {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: 'Merienda One', cursive;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #292929;
}

main .playlist .list > * .thumbnail img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .playlist .ed-sheeran {
  -webkit-box-shadow: 1px 1px 8px #686868;
          box-shadow: 1px 1px 8px #686868;
}

main .playlist .ed-sheeran .thumbnail img {
  width: 14rem;
}

main .playlist .maroon-5 {
  -webkit-box-shadow: 1px 1px 8px #afb387;
          box-shadow: 1px 1px 8px #afb387;
}

main .playlist .maroon-5 .thumbnail img {
  position: relative;
  width: 16.5rem;
  bottom: 1.5rem;
}

main .playlist .adele {
  -webkit-box-shadow: 1px 1px 8px #be9471;
          box-shadow: 1px 1px 8px #be9471;
}

main .playlist .adele .thumbnail img {
  width: 15.5rem;
}

.anime-list-name {
  margin-top: 4rem;
}

.anime-actual-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25rem;
}

.anime-actual-list > * {
  position: absolute;
  border-radius: 50px;
  overflow: hidden;
  width: 30rem;
  height: 20rem;
  border: 1px solid #ffe7eb;
}

.anime-actual-list > * .thumbnail img {
  width: 35.5rem;
}

.anime-actual-list > * .name {
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 5px 5px 8px black;
  font-size: 3rem;
  text-align: center;
}

.anime-actual-list .gotoubun-no-hanayome .thumbnail img {
  width: 35rem;
  position: relative;
  right: 35px;
}

.anime-actual-list .gotoubun-no-hanayome .name {
  font-family: 'Caveat', cursive;
}

.anime-actual-list .spy-x-family .thumbnail img {
  position: relative;
  width: 44rem;
  position: relative;
  left: -6rem;
}

.anime-actual-list .spy-x-family .name {
  font-size: 3.5rem;
  font-family: 'Koulen', cursive;
}

.anime-actual-list .assassination-classroom .thumbnail img {
  width: 35rem;
  position: relative;
  left: -3rem;
}

.anime-actual-list .assassination-classroom .name {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

.anime-actual-list .sakurasou .thumbnail img {
  position: relative;
  right: 3rem;
}

.anime-actual-list .sakurasou .name {
  font-family: 'Fira Sans Condensed', sans-serif;
}

@-webkit-keyframes slideAndFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slideAndFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
