@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 25rem;
  font-size: 1rem;
  border: 2px solid orange;
}

main .project .title {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .project .title .icon {
  width: 1.5rem;
}

main .project .title .hyperlink {
  color: #6effff;
  font-weight: bold;
  text-decoration: underline;
}

main .project .title .open-source, main .project .title .preview {
  font-style: italic;
  font-size: 0.8em;
}

main .project .tags {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .project .tags > * {
  display: none;
  margin: 0 2px;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 1px 8px;
  border-radius: 20px;
}

main .python-lang .python {
  display: initial;
  border: 2px solid #7aa4ff;
  color: #feffd7;
}

main .typescript-lang .typescript {
  display: initial;
  color: #62cdff;
  border: 2px solid #0091d4;
}

main .javascript-lang .javascript {
  display: initial;
  color: yellow;
  border: 2px solid #e6e600;
}

main .discord-bot-cate .discord-bot {
  display: initial;
  color: #a7a6ff;
  border: 2px solid #897cff;
}

main .game-cate .game {
  display: initial;
  border: 2px solid #9eff9e;
  color: #c7ff93;
}
